*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
PrivateConstants.java
.idea/dictionaries

# Idea files white/blacklist
.idea/*
!.idea/copyright/*
!.idea/codeStyleSettings.xml
